
#!define NAT_BFLAG 1

loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "domain.so"
loadmodule "nathelper.so"

modparam("usrloc", "nat_bflag", NAT_BFLAG)
modparam("usrloc", "use_domain", 1)
modparam("usrloc", "timer_interval", 30)
modparam("usrloc", "db_url", DBCONFIG)
modparam("usrloc", "db_mode", 3)
modparam("usrloc", "matching_mode", 2)
modparam("usrloc", "cseq_delay", 20)
modparam("usrloc", "timer_procs", 2)
modparam("tm|usrloc", "xavp_contact", "ulattrs")
modparam("usrloc", "close_expired_tcp", 1)
modparam("usrloc", "handle_lost_tcp", 1)
modparam("usrloc", "db_clean_tcp", 1)
modparam("usrloc", "hash_size", 15)
modparam("usrloc", "db_check_update", 1)
modparam("usrloc", "db_insert_update", 1)
modparam("usrloc", "db_ops_ruid", 1)
##modparam("usrloc", "preload", "location") ## need to check if it's really needed

modparam("registrar", "default_expires", 300)
modparam("registrar", "max_expires", 7200)
modparam("registrar", "case_sensitive", 1)
modparam("registrar", "xavp_cfg", "reg")
modparam("registrar", "xavp_rcd", "ulrcd")
modparam("registrar", "outbound_mode", 0)
modparam("registrar", "gruu_enabled", 0)
modparam("registrar", "use_path", 1)
modparam("registrar", "path_mode", 1)
modparam("registrar", "path_use_received", 1)

modparam("domain", "db_url", DBCONFIG)
modparam("domain", "domain_table", "domain")
modparam("domain", "domain_attrs_table", "domain_attrs")
modparam("domain", "did_col", "null")
modparam("domain", "register_myself", 1)

route[LOCATION] {
    if !(is_method("INVITE") || !is_domain_local("$od") || !is_domain_local("$fd")) {
        xlog("L_NOTICE", "[LOCATION] Received a request that is not INVITE or not for local domain: $rm $ru $fd from $si \n");
        drop();
    }

    route(IS_REGISTERED);

}

route[IS_REGISTERED] {
    lookup("location");

	switch ($rc) {
        case -1:
        case -3:
            sl_send_reply("404", "Not Found");
            exit;
        case -2:
            sl_send_reply("405", "Not Found");
            exit;
    }
}
